{% extends "layout.html" %}

{% block body %}
<style>
p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #000000;
    padding-left: 10px;
}

</style>
  <h2>ჩვენ შესახებ</h2>
  <p>ეს არის მაიკლ ფელსის ონლაინ მაღაზია, სადაც უმაღლესი ხარისხის აქსესუარებია, რომლებსაც მსოფლიო დონის სპორტსმენები იყენებენ. მაიკლ ფელპსის მიღწევებმა, დისციპლინამ და ხასიათმა მილიონობით ადამიანი, და მათ შორის მეც დამარწმუნა, რომ შეუძლებელი არაფერია. სწორედ მისი შთაგონებით შევქმენი MP online store დემო ვერსია.</p>  
{% endblock %}