{% extends "layout.html" %}

{% block body %}
<style>
p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #000000;
}
.charity{
    justify-content: center;
    text-align: center;
}
</style>
<div class="charity">
    <p> 2008 წლის ოლიმპიადის შემდეგ ფელპსმა $1 მილიონი (Speedo-ს ბონუსი) გამოყო მაიკლ ფელპსის ფონდის დასაარსებლად.
    მისი ფონდი ფოკუსირებულია ცურვის განვითარებაზე და ჯანსაღი ცხოვრების წესის პოპულარიზაციაზე. 2010 წელს მაიკლ ფელპსის ფონდმა, მაიკლ ფელპსის საცურაო სკოლამ და KidsHealth.org-მა შეიმუშავეს "im" პროგრამა "Boys & Girls Club" წევრებისთვის.
    "im" პროგრამა ბავშვებს ასწავლის აქტიურობისა და ჯანმრთელობის მნიშვნელობას, ცურვაზე აქცენტირებით. "im" ასევე ხელს უწყობს მიზნების სწორად დასახვას. მას შემდეგ ფონდმა შეიმუშავა ორი სხვა პროგრამა, Level Field Fund-Swimming და Caps-for-a-Cause.
    ფელპსი იმედოვნებდა, რომ უფრო მეტად ითანამშრომლებდა თავის ფონდთან 2012 წლის ზაფხულის ოლიმპიური თამაშების შემდეგ. 2017 წელს ფელპსი შეუერთდა ფსიქიკური აშლილობების დიაგნოზზე ორიენტირებული კომპანიის, Medibio-ს გამგეობას.</p>
    
    <img src ="/static/charity.jpg" width="400px" height="auto"></img>
</div>
{% endblock %}
